// TODO
.posts {
  max-width: 1120px;
  margin: 2rem auto;
  height: calc(100vh - 5rem);

  button {
    border: 0px;
    background: var(--background);
    color: var(--pink);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  h1 {
    color: var(--pink);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.postInfo {
  max-width: 1120px;
  margin: 3rem 0;

  a {
    height: 6.75rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    strong {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.125rem;
    }

    span:first-of-type {
      font-size: 1.125rem;
      line-height: 1.375rem;

      color: var(--gray-100)
    }

    .timeAndUserInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: 0.5rem;
      }

      time {
        font-size: 0.875rem;
        line-height: 1rem;
        color: var(--gray-200)
      }

      svg:not(:first-child) {
        margin-left: 1rem;
      }

      span {
        font-size: 0.875rem;
        line-height: 1rem;
        color: var(--gray-200)
      }
    }
  }
}
